# pandas.to_datetime(arg, format=None, ...)

# 데이터 불러오기

In [1]:
import pandas as pd

df = pd.read_csv('./datasets/예제/University_date.csv', encoding='CP949')

# 문자열 -> datetime형

In [3]:
df['창립일']

0    1946-10-15
1    1971-02-16
2    2007-09-03
3    1986-12-03
4    1905-05-05
5    1993-11-17
6    1946-05-15
7    1969-12-24
8    1946-05-15
Name: 창립일, dtype: object

In [5]:
df['창립일'] = pd.to_datetime(df['창립일'], format='%Y-%m-%d')

In [6]:
df['창립일']

0   1946-10-15
1   1971-02-16
2   2007-09-03
3   1986-12-03
4   1905-05-05
5   1993-11-17
6   1946-05-15
7   1969-12-24
8   1946-05-15
Name: 창립일, dtype: datetime64[ns]

# pandas.date_range(start, end=None, periods=None, freq='D', ...)
- periods : 생성할 주기의 수
- freq : 주기를 생성할 기준(단위) / default='D'로 일(day)의 단위로 생성

In [7]:
pd.date_range('2000-01-01', '2000-01-10')

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', freq='D')

In [10]:
pd.date_range('2000-01-01', periods=5)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05'],
              dtype='datetime64[ns]', freq='D')

# 2000년 1월부터 1달씩 증가 5번 반복 -> 각 달의 마지막 날짜가 반환됨

In [11]:
pd.date_range('2000-01-01', periods=5, freq='m')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31'],
              dtype='datetime64[ns]', freq='M')

# 시계열 데이터 전처리

In [12]:
df = pd.read_csv('./datasets/예제/University_date.csv', encoding='CP949')

In [13]:
df['창립일'] = pd.to_datetime(df['창립일'])

In [15]:
df['창립일'].dt.date

0    1946-10-15
1    1971-02-16
2    2007-09-03
3    1986-12-03
4    1905-05-05
5    1993-11-17
6    1946-05-15
7    1969-12-24
8    1946-05-15
Name: 창립일, dtype: object

In [16]:
df['창립일'].dt.year

0    1946
1    1971
2    2007
3    1986
4    1905
5    1993
6    1946
7    1969
8    1946
Name: 창립일, dtype: int64

In [17]:
df['창립일'].dt.month

0    10
1     2
2     9
3    12
4     5
5    11
6     5
7    12
8     5
Name: 창립일, dtype: int64

In [19]:
df['창립일'].dt.month_name()

0      October
1     February
2    September
3     December
4          May
5     November
6          May
7     December
8          May
Name: 창립일, dtype: object

In [20]:
df['창립일'].dt.weekday

0    1
1    1
2    0
3    2
4    4
5    2
6    2
7    2
8    2
Name: 창립일, dtype: int64

In [21]:
df['창립일'].dt.day_name()

0      Tuesday
1      Tuesday
2       Monday
3    Wednesday
4       Friday
5    Wednesday
6    Wednesday
7    Wednesday
8    Wednesday
Name: 창립일, dtype: object

In [22]:
df['창립일'].dt.quarter

0    4
1    1
2    3
3    4
4    2
5    4
6    2
7    4
8    2
Name: 창립일, dtype: int64

In [23]:
df['창립일'].dt.weekofyear

C:\Users\qkrtj\AppData\Local\Temp\ipykernel_2660\3921657863.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['창립일'].dt.weekofyear

0    42
1     7
2    36
3    49
4    18
5    46
6    20
7    52
8    20
Name: 창립일, dtype: int64

In [24]:
df['창립일'].dt.dayofyear

0    288
1     47
2    246
3    337
4    125
5    321
6    135
7    358
8    135
Name: 창립일, dtype: int64

In [25]:
df['창립일'].dt.daysinmonth

0    31
1    28
2    30
3    31
4    31
5    30
6    31
7    31
8    31
Name: 창립일, dtype: int64

# 2022-06-01 16:30:05부터 1초씩 증가하는 시계열 생성

In [26]:
sr = pd.Series(pd.date_range('2022-06-01 16:30:05', periods=5, freq='s'))

In [27]:
sr

0   2022-06-01 16:30:05
1   2022-06-01 16:30:06
2   2022-06-01 16:30:07
3   2022-06-01 16:30:08
4   2022-06-01 16:30:09
dtype: datetime64[ns]

In [29]:
sr.dt.time

0    16:30:05
1    16:30:06
2    16:30:07
3    16:30:08
4    16:30:09
dtype: object

In [30]:
sr.dt.minute

0    30
1    30
2    30
3    30
4    30
dtype: int64

In [31]:
sr.dt.second

0    5
1    6
2    7
3    8
4    9
dtype: int64