# 1. 자동차 보험가입 예측데이터

In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/x_test.csv")


display(x_train.head())
display(y_train.head())

,ID,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,id
0,0,Female,23,1,8.0,0,< 1 Year,Yes,61354.0,152.0,235,NaN
1,1,Male,27,1,28.0,1,< 1 Year,No,38036.0,152.0,207,NaN
2,2,Female,23,1,45.0,0,< 1 Year,Yes,25984.0,152.0,217,NaN
3,3,Male,22,1,46.0,0,< 1 Year,No,39499.0,152.0,277,NaN
4,4,Male,32,1,30.0,1,< 1 Year,No,38771.0,152.0,251,NaN

   ID  Response
0   0         0
1   1         0
2   2         1
3   3         0
4   4         0

In [6]:
x_train.drop(['ID', 'id'], axis=1, inplace=True)
x_test.drop(['ID', 'id'], axis=1, inplace=True)

In [8]:
x_train_dummy = pd.get_dummies(x_train)
x_test_dummy = pd.get_dummies(x_test)

In [10]:
y = y_train[['Response']]

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_validation, y_train, y_validation = train_test_split(x_train_dummy, y, test_size=0.3, random_state=12)

In [12]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=11)
rf.fit(x_train, y_train)

C:\Users\qkrtj\AppData\Local\Temp\ipykernel_14208\1251230623.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train, y_train)

RandomForestClassifier(random_state=11)

In [13]:
predict_vali = rf.predict(x_validation)

In [15]:
from sklearn.metrics import accuracy_score, roc_auc_score
print(accuracy_score(y_validation, predict_vali))
predict_vali_pro = rf.predict_proba(x_validation)[:,1]
print(roc_auc_score(y_validation, predict_vali_pro))

0.8655799359331781
0.8339871921557303

# 2. 학생성적 예측 데이터

In [19]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv")


display(x_train.head())
display(y_train.head())

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1714,GP,F,18,U,GT3,T,4,3,other,...,no,4,3,3,1,1,3,0,14,13
1,1254,GP,F,17,U,GT3,T,4,3,health,...,yes,4,4,3,1,3,4,0,13,15
2,1639,GP,F,16,R,GT3,T,4,4,health,...,no,2,4,4,2,3,4,6,10,11
3,1118,GP,M,16,U,GT3,T,4,4,services,...,no,5,3,3,1,3,5,0,15,13
4,1499,GP,M,19,U,GT3,T,3,2,services,...,yes,4,5,4,1,1,4,0,5,0

   StudentID  G3
0       1714  14
1       1254  15
2       1639  11
3       1118  13
4       1499   0

In [20]:
x_train.drop(['StudentID'], axis=1, inplace=True)
x_test.drop(['StudentID'], axis=1, inplace=True)

In [26]:
x_train_dummy = pd.get_dummies(x_train)
x_test_dummy = pd.get_dummies(x_test)

In [27]:
y = y_train[['G3']]

In [29]:
from sklearn.model_selection import train_test_split
x_train, x_validation, y_train, y_validation = train_test_split(x_train_dummy, y, test_size=0.3, random_state=13)

In [30]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state=13)
rf.fit(x_train, y_train)

C:\Users\qkrtj\AppData\Local\Temp\ipykernel_14208\1395433401.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train, y_train)

RandomForestRegressor(random_state=13)

In [33]:
predict_vali = rf.predict(x_validation)

In [34]:
from sklearn.metrics import r2_score
r2_score(y_validation, predict_vali)

0.8417289670855326

# 3. 비행탑승 경험 만족도 데이터

In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_test.csv")


display(x_train.head())
display(y_train.head())

,ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
0,0,Female,Loyal Customer,54,Personal Travel,Eco,1068,3,4,3,...,5,5,3,5,3,5,3,47,22.0,NaN
1,2,Male,Loyal Customer,20,Personal Travel,Eco,1546,4,4,4,...,4,3,3,4,4,4,4,5,2.0,NaN
2,3,Male,Loyal Customer,59,Business travel,Business,2962,0,4,0,...,1,1,1,1,5,1,4,54,46.0,NaN
3,4,Male,Loyal Customer,35,Business travel,Eco Plus,106,5,4,4,...,5,2,1,5,4,4,5,130,121.0,NaN
4,5,Female,Loyal Customer,9,Business travel,Business,2917,3,3,3,...,4,4,4,5,4,3,4,0,0.0,NaN

   ID             satisfaction
0   0  neutral or dissatisfied
1   2  neutral or dissatisfied
2   3                satisfied
3   4                satisfied
4   5                satisfied

In [2]:
x_train.drop(['ID', 'id'], axis=1, inplace=True)
x_test.drop(['ID', 'id'], axis=1, inplace=True)

In [6]:
x_train_dummy = pd.get_dummies(x_train)
x_test_dummy = pd.get_dummies(x_test)

In [11]:
x_train_dummy.fillna(0, inplace=True)
x_test_dummy.fillna(0, inplace=True)

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(x_train_dummy)
x_train_scaler = scaler.transform(x_train_dummy)
x_test_scaler = scaler.transform(x_test_dummy)

In [13]:
y = y_train[['satisfaction']]

In [14]:
from sklearn.model_selection import train_test_split
x_train, x_vali, y_train, y_vali = train_test_split(x_train_scaler, y, test_size=0.3, random_state=13)

In [16]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=11)
rf.fit(x_train, y_train)
predict_vali = rf.predict(x_vali)
predict_vali_proba = rf.predict_proba(x_vali)[:,1]

C:\Users\qkrtj\AppData\Local\Temp\ipykernel_25644\596871742.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train, y_train)

In [17]:
from sklearn.metrics import accuracy_score, roc_auc_score
print(accuracy_score(y_vali, predict_vali))
print(roc_auc_score(y_vali, predict_vali_proba))

0.9630669286602238
0.9939802327970224