# 1. 전세계 행복도 지표 데이터

In [1]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')

In [2]:
df.head(5)

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

## 1.1 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

In [3]:
answer = df[df['행복랭킹']==10]['점수'].mean()
print(answer)

7.259

## 1.2 각 년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

In [4]:
answer = df[df['행복랭킹']<=50][['년도', '점수']].groupby('년도').mean()
print(answer)

           점수
년도
2018  6.64678
2019  6.67002

## 1.3 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라

In [5]:
df_18 = df[df['년도']==2018][['점수', '부패에 대한인식']]
answer = df_18.corr().iloc[0,1]
print(answer)

0.40529152271510027

## 1.4 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [6]:
answer = len(df[['행복랭킹', '나라명']]) - len(df[['행복랭킹', '나라명']].drop_duplicates())
print(answer)

15

## ***1.5 2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터프레임으로 출력하라. 컬럼명은 v1, v2, corr으로 표시하라

In [7]:
df_19 = df[df['년도']==2019]
corr19 = df_19.corr().unstack().to_frame().reset_index().dropna()
corr19 = corr19[corr19[0]!=1].sort_values(0, ascending=False).drop_duplicates(0)
corr19 = corr19.head(5).reset_index(drop=True)
corr19.columns = ['v1','v2','corr']
print(corr19)

      v1     v2      corr
0  행복기대치  상대GDP  0.835462
1  상대GDP     점수  0.793883
2  행복기대치     점수  0.779883
3  사회적지원     점수  0.777058
4  사회적지원  상대GDP  0.754906

C:\Users\qkrtj\AppData\Local\Temp\ipykernel_8696\3055415286.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr19 = df_19.corr().unstack().to_frame().reset_index().dropna()

## 1.6 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [8]:
answer = df.groupby('년도').tail(5).groupby('년도').mean()[['점수']]
print(answer)

          점수
년도
2018  3.1800
2019  3.1408

C:\Users\qkrtj\AppData\Local\Temp\ipykernel_8696\2627450684.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  answer = df.groupby('년도').tail(5).groupby('년도').mean()[['점수']]

## 1.7 2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [9]:
df19 = df[df['년도']==2019]
df19_up = df19[df19['상대GDP']>=df19['상대GDP'].mean()]
df19_under = df19[df19['상대GDP']<=df19['상대GDP'].mean()]
mean1 = df19_up['점수'].mean()
mean2 = df19_under['점수'].mean()
answer = mean1 - mean2
print(answer)

1.390483957219251

## 1.8 각년도와 부패에 대한 인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한 인식의 평균을 구하여라

In [10]:
df_ = df[['년도', '부패에 대한인식', '나라명']].sort_values(['년도', '부패에 대한인식'], ascending=False).groupby('년도').head(20)
answer = df_.groupby('년도')['부패에 대한인식'].mean()
print(answer)

년도
2018    0.3267
2019    0.3201
Name: 부패에 대한인식, dtype: float64

## 1.9 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

In [11]:
result = set(df[(df['년도']==2018) & (df['행복랭킹']<=50)]['나라명']) - set(df[(df['년도']==2019) & (df['행복랭킹']<=50)]['나라명'])
answer = len(result)
print(answer)

4

## ***1.10 2018년, 2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [12]:
a = df['나라명'].value_counts()
target = a[a>=2].index
df2 = df.copy()
multi = df2[df['나라명'].isin(target)].reset_index(drop=True)
multi.loc[multi['년도']==2018, '점수'] = multi.loc[multi['년도']==2018, '점수'].values*(-1)
answer = multi.groupby('나라명').sum()['점수'].sort_values().to_frame().iloc[-1]
print(answer)

점수    0.87
Name: Burundi, dtype: float64

# 2. 지역구 에너지 소비량 데이터

In [13]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')

In [14]:
df.head(5)

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

## 2.1 DateTime 컬럼을 통해 각 월별로 몇개의 데이터가 있는지 데이터 프레임으로 구하여라

In [15]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
df['month'] = df['DateTime'].dt.month
answer = df.groupby('month')['DateTime'].count()
print(answer)

month
1     4464
2     4032
3     4464
4     4320
5     4464
6     4320
7     4464
8     4464
9     4320
10    4464
11    4320
12    4320
Name: DateTime, dtype: int64

## 2.2 3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라

In [16]:
df3 = df[df['month']==3]
df3['hour'] = df3['DateTime'].dt.hour
answer = df3.groupby('hour')['Temperature'].mean().sort_values().values[0]
print(answer)

11.506612903225806

C:\Users\qkrtj\AppData\Local\Temp\ipykernel_8696\3678607159.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['hour'] = df3['DateTime'].dt.hour

## 2.3 3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라

In [17]:
df3 = df[df['month']==3]
df3['hour'] = df3['DateTime'].dt.hour
answer = df3.groupby('hour')['Temperature'].mean().sort_values(ascending=False).values[0]
print(answer)

18.393602150537635

C:\Users\qkrtj\AppData\Local\Temp\ipykernel_8696\536129661.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['hour'] = df3['DateTime'].dt.hour

## 2.4 Zone 1 Power Consumption 컬럼의 value 값의 크기가 Zone 2 Power Consumption 컬럼의 value 값의 크기보다 큰 데이터들의 Humidity의 평균을 구하여라

In [18]:
answer = df[df['Zone 1 Power Consumption']>df['Zone 2  Power Consumption']]['Humidity'].mean()
print(answer)

68.23624448055052

## 2.5 각 zone의 에너지 소비량의 상관관계를 구해서 데이터프레임으로 표기하라

In [19]:
answer = df[['Zone 1 Power Consumption','Zone 2  Power Consumption', 'Zone 3  Power Consumption']].corr()
print(answer)

                           Zone 1 Power Consumption  \
Zone 1 Power Consumption                   1.000000
Zone 2  Power Consumption                  0.834519
Zone 3  Power Consumption                  0.750733

                           Zone 2  Power Consumption  \
Zone 1 Power Consumption                    0.834519
Zone 2  Power Consumption                   1.000000
Zone 3  Power Consumption                   0.570932

                           Zone 3  Power Consumption
Zone 1 Power Consumption                    0.750733
Zone 2  Power Consumption                   0.570932
Zone 3  Power Consumption                   1.000000

## 2.6 Temperature의 값이 10미만의 경우 A, 10이상 20미만의 경우 B, 20이상 30미만의 경우 C, 그 외의 경우 D라고 할때 각 단계의 데이터 숫자를 구하여라

In [20]:
def grade(x):
    if x<10 :
        return 'A'
    elif x<20 :
        return 'B'
    elif x<30 :
        return 'C'
    else : return 'D'

df['grade'] = df['Temperature'].apply(grade)
answer = df.groupby('grade')['Temperature'].count()
print(answer)

grade
A     2874
B    26993
C    21105
D     1444
Name: Temperature, dtype: int64

## 2.7 6월 데이터 중 12시의 Temperature의 표준편차를 구하여라

In [21]:
df6 = df[df['month']==6]
answer = df6[df6['DateTime'].dt.hour == 12]['Temperature'].std()
print(answer)

2.0499417827951025

## 2.8 6월 데이터 중 12시의 Temperature의 분산을 구하여라

In [22]:
df6 = df[df['month']==6]
result = df6[df6['DateTime'].dt.hour == 12]['Temperature'].std()
answer = result ** 2
print(answer)

4.2022613128491635

## 2.9 Temperature의 평균 이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을 때 4번째 행의 Humidity값은?

In [23]:
answer = df[df['Temperature']>=df['Temperature'].mean()].sort_values('Temperature').reset_index(drop=True).loc[3, 'Humidity']
print(answer)

87.9

## 2.10 Temperature의 중간값 이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을 때 4번째 행의 Humidity 값은?

In [24]:
answer = df[df['Temperature']>=df['Temperature'].median()].sort_values('Temperature').reset_index(drop=True).loc[3, 'Humidity']
print(answer)

80.3

# 3. 포켓몬 정보 데이터

In [25]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')

In [26]:
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## 3.1 Legendary 컬럼은 전설포켓몬 유무를 나타낸다. 전설포켓몬과 그렇지 않은 포켓몬들의 HP 평균의 차이를 구하여라

In [27]:
df_T = df[df['Legendary']==True]
df_F = df[df['Legendary']==False]
T_mean = df_T['HP'].mean()
F_mean = df_F['HP'].mean()
answer = T_mean - F_mean
print(answer)

25.55614861329147

## 3.2 Type 1은 주속성 Type 2는 부속성을 나타낸다. 가장 많은 부속성 종류는?

In [28]:
answer = df['Type 2'].value_counts().index[0]
print(answer)

Flying

## 3.3 가장 많은 Type 1의 종의 평균 Attack을 평균 Defense로 나눈 값은?

In [29]:
ma = df['Type 1'].value_counts().index[0]
df_ = df[df['Type 1']==ma]
answer = df_['Attack'].mean()/df_['Defense'].mean()
print(answer)

1.0165238678090576

## 3.4 포켓몬 세대(Generation) 중 가장 많은 Legendary를 보유한 세대는 몇 세대인가?

In [30]:
df_ = df[df['Legendary']==True]
answer = df_.groupby('Generation')['Legendary'].count().sort_values(ascending=False).index[0]
print(answer)

3

## ***3.5 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Speed' 간의 상관계수 중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

In [31]:
result = df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Speed']].corr().unstack().reset_index().rename(columns={0:'corr'})
answer = result[result['corr']!=1].sort_values('corr', ascending=False).iloc[0]
print(answer)

level_0       Speed
level_1     Sp. Atk
corr       0.473018
Name: 23, dtype: object

## 3.6 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [40]:
answer = df.sort_values(['Generation', 'Attack']).groupby('Generation').head(3)['Attack'].mean()
print(answer)

19.5

## 3.7 각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들의 Attack의 전체 평균을 구하여라

In [41]:
answer = df.sort_values(['Generation', 'Attack'], ascending=False).groupby('Generation').head(5)['Attack'].mean()
print(answer)

157.23333333333332

## 3.8 가장 흔하게 발견되는 (Type1, Type2)의 쌍은 무엇인가?

In [53]:
answer = df[['Type 1', 'Type 2']].value_counts().head(1)
print(answer)

Type 1  Type 2
Normal  Flying    24
dtype: int64

## 3.9 한번씩만 존재하는 (Type 1, Type 2)의 쌍의 갯수는 몇개인가?

In [59]:
result = df[['Type 1', 'Type 2']].value_counts()
answer = len(result[result==1])
print(answer)

39

## ***3.10 한번씩만 존재하는 (Type 1, Type 2)의 쌍을 각 세대(Generation)는 각각 몇개씩 가지고 있는가?

In [72]:
result = df[['Type 1', 'Type 2']].value_counts()
result2 = result[result==1]

li = []
for value in result2.reset_index().values:
    t1 = value[0]
    t2 = value[1]
    sp = df[(df['Type 1']==t1)&(df['Type 2']==t2)]
    li.append(sp)

answer = pd.concat(li).reset_index(drop=True)['Generation'].value_counts()
print(answer)

4    13
6     9
5     7
3     5
2     4
1     1
Name: Generation, dtype: int64