# 1. 월드컵 출전선수 골기록 데이터

In [55]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')

In [56]:
df.head(5)

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

## 1.1 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력

In [57]:
answer = pd.DataFrame(df.groupby('Country')['Goals'].sum().sort_values(ascending=False).head(5))
print(answer)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

## 1.2 주어진 전체 기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력

In [58]:
answer = df.groupby('Country')['Player'].count().sort_values(ascending=False).head(5)
print(answer)

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
Name: Player, dtype: int64

## ***1.3 Years 컬럼은 년도-년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라

In [59]:
df['Year_list'] = df['Years'].str.split('-')
def check(x):
    for value in x:
        if len(str(value)) != 4 :
            return False
    return True

df['check'] = df['Year_list'].apply(check)
answer = len(df[df['check']==False])
print(answer)

45

## 1.4 1.3문제에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라

In [60]:
drop_idx = df[df['check']==False].index
df2 = df.drop(drop_idx, axis=0)
answer = len(df2)
print(answer)

1250

## 1.5 월드컵 출전횟수를 나타내는 'LenCup' 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하라

In [61]:
df2['LenCup'] = df['Year_list'].apply(lambda x : len(x))
answer = len(df2[df2['LenCup'] == 4])
print(answer)

16

## 1.6 Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라

In [62]:
yugo = df2[df2['Country']=='Yugoslavia']
answer = len(yugo[yugo['LenCup']==2])
print(answer)

7

## 1.7 2002년도에 출전한 전체 선수는 몇명인가?

In [71]:
answer = len(df2[df2['Years'].str.contains('2002')])
print(answer)

156

## 1.8 이름에 'carlos' 단어가 들어가는 선수의 숫자는 몇명인가? (대,소문자 구분 없음)

In [77]:
df2['Player'] = df2['Player'].str.lower()
answer = len(df2[df2['Player'].str.contains('carlos')])
print(answer)

13

## 1.9 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

In [86]:
answer = df2[df2['LenCup']==1].sort_values('Goals', ascending=False)['Player'].head(1)
print(answer)

3    just fontaine
Name: Player, dtype: object

## 1.10 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [96]:
answer = df2[df2['LenCup']==1].groupby('Country').count().sort_values('Player', ascending=False).index[0]
print(answer)

Brazil

# 2. 서울시 따릉이 이용 정보 데이터

In [97]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')

In [98]:
df.head(5)

         대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간
0  2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6

## 2.1 대여일자별 데이터의 수를 데이터프레임으로 출력하고, 가장 많은 데이터가 있는 날짜를 출력

In [108]:
answer = df.groupby('대여일자').count().sort_values('대여시간', ascending=False).index[0]
print(answer)

2021-06-04

## 2.2 각 일자의 요일을 표기하고 'day_name' 컬럼을 추가하고 이를 이용하여 각 요일별 이용 횟수의 총합을 데이터 프레임으로 출력

In [116]:
df['대여일자'] = pd.to_datetime(df['대여일자'])
df['day_name'] = df['대여일자'].dt.day_name()
answer = pd.DataFrame(df['day_name'].value_counts())
print(answer)

           day_name
Wednesday    110607
Friday       108877
Monday       107568
Tuesday      103704
Saturday     101299
Sunday        90918
Thursday      55977

## 2.3 각 요일별 가장 많이 이용한 대여소의 이용횟수와 대여소 번호를 데이터프레임으로 출력

In [135]:
answer = pd.DataFrame(df.groupby(['day_name', '대여소번호']).size()).reset_index(drop=False).sort_values(['day_name', 0], ascending=False).drop_duplicates('day_name', keep='first')
print(answer)

        day_name  대여소번호    0
14820  Wednesday    502  282
12421    Tuesday    502  267
11482   Thursday   2715  137
7611      Sunday    502  372
5191    Saturday    502  378
2769      Monday    502  242
348       Friday    502  277

In [126]:
result = df.groupby(['day_name', '대여소번호']).size().to_frame('size').sort_values(['day_name', 'size'], ascending=False).reset_index()
answer = result.drop_duplicates('day_name', keep='first').reset_index(drop=True)
print(answer)

    day_name  대여소번호  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

## ***2.4 나이대별 대여구분 코드의 (일일권/전체횟수) 비율을 구한 후 가장 높은 비율을 가지는 나이대를 확인. 일일권의 경우 일일권과 일일권(비회원) 모두 포함

In [146]:
daily = df[df['대여구분코드'].str.contains('일일권')]['연령대코드'].value_counts().sort_index()
total = df['연령대코드'].value_counts().sort_index()
ratio = (daily/total).sort_values(ascending=False)
print(ratio)
print(ratio.index[0])

~10대    0.312525
20대     0.239913
30대     0.166702
40대     0.110585
50대     0.065414
70대~    0.048962
60대     0.042462
Name: 연령대코드, dtype: float64
~10대

## 2.5 연령대별 평균 이동거리 구하여라

In [149]:
answer = df.groupby('연령대코드')['이동거리'].mean()
print(answer)

연령대코드
20대     3211.890552
30대     3341.443859
40대     3514.857416
50대     3593.668100
60대     3538.145737
70대~    3085.039641
~10대    2634.426279
Name: 이동거리, dtype: float64

## 2.6 연령대 코드가 20대인 데이터를 추출하고, 이동거리값이 추출한 데이터의 이동거리값의 평균 이상인 데이터를 추출. 최종 추출된 데이터를 대여일자, 대여소 번호 순서로 내림차순 정렬 후 1행부터 200행까지의 탄소량의 평균을 소숫점 3째자리까지 구하여라

In [187]:
df_20 = df[df['연령대코드'].str.contains('20')].reset_index(drop=True)
df_20 = df_20[df_20['이동거리']>=df_20['이동거리'].mean()].reset_index(drop=True)
df_20['탄소량'] = df_20['탄소량'].astype('float')
df_c = df_20.sort_values(['대여일자', '대여소번호'], ascending=False).reset_index(drop=True).iloc[:200]['탄소량']
answer = round(df_c.sum()/len(df_c),3)
print(answer)

1.613

## 2.7 6월 7일 ~10대의 '이용건수'의 중앙값은?

In [195]:
df['대여일자'] = pd.to_datetime(df['대여일자'])
df_10 = df[df['연령대코드']=='~10대']
df_10 = df_10[df_10['대여일자']==pd.to_datetime('2021-06-07')]
answer = df_10['이용건수'].median()
print(answer)

1.0

## ***2.8 평일 (월~금) 출근 시간대 (오전 6,7,8시)의 대여소별 이용 횟수를 구해서 데이터 프레임 형태로 표현한 후 각 대여시간별 이용 횟수의 상위 3개 대여소와 이용횟수 출력

In [203]:
target = df[(df['day_name'].isin(['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday']))&(df['대여시간'].isin([6,7,8]))]
target = target.groupby(['대여시간', '대여소번호']).size().to_frame('이용횟수')
answer = target.sort_values(['대여시간', '이용횟수'], ascending=False).groupby('대여시간').head(3)
print(answer)

            이용횟수
대여시간 대여소번호
8    2701    119
     646     115
     1152     92
7    259     104
     230      77
     726      77
6    2744     45
     1125     40
     1028     36

## 2.9 이동거리의 평균 이상의 이동거리 값을 가지는 데이터를 추출하여 추출 데이터의 이동거리의 표본표준편차 값을 구하여라

In [207]:
answer = df[df['이동거리']>=df['이동거리'].mean()]['이동거리'].std()
print(answer)

5092.139707505356

## 2.10 남성 ('M' or 'm') 과 여성 ('F' or 'f')의 이동거리 값의 평균값을 구하여라

In [213]:
df['성별'] = df['성별'].str.lower()
df.groupby('성별')['이동거리'].mean()

성별
f    3468.575025
m    3209.110871
Name: 이동거리, dtype: float64