# 문자열 데이터 전처리
- startswith(pat) : pat로 시작한다면 True, 아니면 False 반환
- endswith(pat) : pat로 끝난다면 True, 아니면 False 반환
- contains(pat) : pat이 포함되면 True, 아니면 False 반환
- split(pat=None) : pat을 기준으로 문자열을 분할, pat의 default 값은 None으로 공백을 기준으로 분할됨
- find(sub, start=0, end=None) : sub가 있는 위치를 start에서부터 end까지에서 찾아 위치값을 반환 (sub가 없을 경우 -1 반환)
- rfind(sub, start=0, end=None) : sub가 있는 위치를 start에서부터 end까지에서 찾아 가장 높은 위치 값을 반환 (sub가 없을 경우 -1 반환)
- findall(pat) : 모든 pat 항목 반환
- replace(pat, repl) : pat를 repl으로 대치
- strip(to_strip=None) : 선행 및 후행 문자를 제거, to_strip의 defaul값은 None으로 공백 제거
- lstrip(to_strip=None) : 선행 문자 제거
- rstrip(to_strip=None) : 후행 문자 제거
- lower() : 모두 소문자로 변경
- upper() : 모두 대문자로 변경
- swapcase() : 소문자는 대문자, 대문자는 소문자로 변경

In [1]:
import pandas as pd

# 데이터1 불러오기

In [5]:
df = pd.read_csv('./datasets/예제/University_text_after.csv', encoding='CP949')

In [6]:
df

       대학이름                      주소
0     서울대학교         서울특별시 관악구 관악로 1
1     KAIST       대전광역시 유성구 대학로 291
2    성균관대학교     서울특별시 종로구 성균관로 25-2
3     연세대학교       서울특별시 서대문구 연세로 50
4     UNIST  울산광역시 울주군 언양읍 유니스트길 50
5   포항공과대학교      경상북도 포항시 남구 청암로 77
6     고려대학교       서울특별시 성북구 안암로 145
7     경희대학교      서울특별시 동대문구 경희대로 26
8     세종대학교       서울특별시 광진구 능동로 209
9     한양대학교      서울특별시 성동구 왕십리로 222
10     GIST      광주광역시 북구 첨단과기로 123
11    아주대학교    경기도 수원시 영통구 월드컵로 206
12    중앙대학교        서울특별시 동작구 흑석로 84
13  이화여자대학교     서울특별시 서대문구 이화여대길 52
14    건국대학교       서울특별시 광진구 능동로 120
15    경북대학교         대구광역시 북구 대학로 80
16    울산대학교         울산광역시 남구 대학로 93
17    부산대학교   부산광역시 금정구 부산대학로63번길 2
18    영남대학교        경상북도 경산시 대학로 280
19   가톨릭대학교   서울특별시 종로구 창경궁로 296-12

In [7]:
df['주소'].str[0:5]

0     서울특별시
1     대전광역시
2     서울특별시
3     서울특별시
4     울산광역시
5     경상북도
6     서울특별시
7     서울특별시
8     서울특별시
9     서울특별시
10    광주광역시
11    경기도 수
12    서울특별시
13    서울특별시
14    서울특별시
15    대구광역시
16    울산광역시
17    부산광역시
18    경상북도
19    서울특별시
Name: 주소, dtype: object

# 주소가 '서울'로 시작하는 데이터셋 추출

In [9]:
df[df['주소'].str.startswith('서울')]

       대학이름                     주소
0     서울대학교        서울특별시 관악구 관악로 1
2    성균관대학교    서울특별시 종로구 성균관로 25-2
3     연세대학교      서울특별시 서대문구 연세로 50
6     고려대학교      서울특별시 성북구 안암로 145
7     경희대학교     서울특별시 동대문구 경희대로 26
8     세종대학교      서울특별시 광진구 능동로 209
9     한양대학교     서울특별시 성동구 왕십리로 222
12    중앙대학교       서울특별시 동작구 흑석로 84
13  이화여자대학교    서울특별시 서대문구 이화여대길 52
14    건국대학교      서울특별시 광진구 능동로 120
19   가톨릭대학교  서울특별시 종로구 창경궁로 296-12

# 주소가 '서울'로 시작하지 않는 데이터셋 추출

In [10]:
df[~df['주소'].str.startswith('서울')]

       대학이름                      주소
1     KAIST       대전광역시 유성구 대학로 291
4     UNIST  울산광역시 울주군 언양읍 유니스트길 50
5   포항공과대학교      경상북도 포항시 남구 청암로 77
10     GIST      광주광역시 북구 첨단과기로 123
11    아주대학교    경기도 수원시 영통구 월드컵로 206
15    경북대학교         대구광역시 북구 대학로 80
16    울산대학교         울산광역시 남구 대학로 93
17    부산대학교   부산광역시 금정구 부산대학로63번길 2
18    영남대학교        경상북도 경산시 대학로 280

# 대학이름이 '대학교'로 끝나는 데이터셋 추출

In [11]:
df[df['대학이름'].str.endswith('대학교')]

       대학이름                     주소
0     서울대학교        서울특별시 관악구 관악로 1
2    성균관대학교    서울특별시 종로구 성균관로 25-2
3     연세대학교      서울특별시 서대문구 연세로 50
5   포항공과대학교     경상북도 포항시 남구 청암로 77
6     고려대학교      서울특별시 성북구 안암로 145
7     경희대학교     서울특별시 동대문구 경희대로 26
8     세종대학교      서울특별시 광진구 능동로 209
9     한양대학교     서울특별시 성동구 왕십리로 222
11    아주대학교   경기도 수원시 영통구 월드컵로 206
12    중앙대학교       서울특별시 동작구 흑석로 84
13  이화여자대학교    서울특별시 서대문구 이화여대길 52
14    건국대학교      서울특별시 광진구 능동로 120
15    경북대학교        대구광역시 북구 대학로 80
16    울산대학교        울산광역시 남구 대학로 93
17    부산대학교  부산광역시 금정구 부산대학로63번길 2
18    영남대학교       경상북도 경산시 대학로 280
19   가톨릭대학교  서울특별시 종로구 창경궁로 296-12

# 대학이름이 '대학교'로 끝나지 않는 데이터셋 추출

In [12]:
df[~df['대학이름'].str.endswith('대학교')]

     대학이름                      주소
1   KAIST       대전광역시 유성구 대학로 291
4   UNIST  울산광역시 울주군 언양읍 유니스트길 50
10   GIST      광주광역시 북구 첨단과기로 123

# 주소에 '광역시'를 포함하는 데이터셋 추출

In [13]:
df[df['주소'].str.contains('광역시')]

     대학이름                      주소
1   KAIST       대전광역시 유성구 대학로 291
4   UNIST  울산광역시 울주군 언양읍 유니스트길 50
10   GIST      광주광역시 북구 첨단과기로 123
15  경북대학교         대구광역시 북구 대학로 80
16  울산대학교         울산광역시 남구 대학로 93
17  부산대학교   부산광역시 금정구 부산대학로63번길 2

# 주소를 공백을 기준으로 분리

In [15]:
df['주소'].str.split()

0             [서울특별시, 관악구, 관악로, 1]
1           [대전광역시, 유성구, 대학로, 291]
2         [서울특별시, 종로구, 성균관로, 25-2]
3           [서울특별시, 서대문구, 연세로, 50]
4     [울산광역시, 울주군, 언양읍, 유니스트길, 50]
5         [경상북도, 포항시, 남구, 청암로, 77]
6           [서울특별시, 성북구, 안암로, 145]
7          [서울특별시, 동대문구, 경희대로, 26]
8           [서울특별시, 광진구, 능동로, 209]
9          [서울특별시, 성동구, 왕십리로, 222]
10         [광주광역시, 북구, 첨단과기로, 123]
11      [경기도, 수원시, 영통구, 월드컵로, 206]
12           [서울특별시, 동작구, 흑석로, 84]
13        [서울특별시, 서대문구, 이화여대길, 52]
14          [서울특별시, 광진구, 능동로, 120]
15            [대구광역시, 북구, 대학로, 80]
16            [울산광역시, 남구, 대학로, 93]
17      [부산광역시, 금정구, 부산대학로63번길, 2]
18           [경상북도, 경산시, 대학로, 280]
19      [서울특별시, 종로구, 창경궁로, 296-12]
Name: 주소, dtype: object

# 주소의 '구' 위치값 추출

In [16]:
df['주소'].str.find('구')

0      8
1      8
2      8
3      9
4     -1
5     10
6      8
7      9
8      8
9      8
10     7
11    10
12     8
13     9
14     8
15     1
16     7
17     8
18    -1
19     8
Name: 주소, dtype: int64

# 주소의 가장 뒤에 있는 공백 위치 추출

In [19]:
df['주소'].str.rfind(sub=' ')

0     13
1     13
2     14
3     14
4     19
5     15
6     13
7     15
8     13
9     14
10    14
11    16
12    13
13    16
14    13
15    12
16    12
17    19
18    12
19    14
Name: 주소, dtype: int64

# 주소에서 '구'로 끝나는 단어들 모두 반환

In [23]:
df['주소'].str.findall('\w+구')

0        [관악구]
1        [유성구]
2        [종로구]
3       [서대문구]
4           []
5         [남구]
6        [성북구]
7       [동대문구]
8        [광진구]
9        [성동구]
10        [북구]
11       [영통구]
12       [동작구]
13      [서대문구]
14       [광진구]
15    [대구, 북구]
16        [남구]
17       [금정구]
18          []
19       [종로구]
Name: 주소, dtype: object

# 주소의 공백을 '_'로 대치

In [24]:
df['주소'].str.replace(" ", "_")

0            서울특별시_관악구_관악로_1
1          대전광역시_유성구_대학로_291
2        서울특별시_종로구_성균관로_25-2
3          서울특별시_서대문구_연세로_50
4     울산광역시_울주군_언양읍_유니스트길_50
5         경상북도_포항시_남구_청암로_77
6          서울특별시_성북구_안암로_145
7         서울특별시_동대문구_경희대로_26
8          서울특별시_광진구_능동로_209
9         서울특별시_성동구_왕십리로_222
10        광주광역시_북구_첨단과기로_123
11      경기도_수원시_영통구_월드컵로_206
12          서울특별시_동작구_흑석로_84
13       서울특별시_서대문구_이화여대길_52
14         서울특별시_광진구_능동로_120
15           대구광역시_북구_대학로_80
16           울산광역시_남구_대학로_93
17     부산광역시_금정구_부산대학로63번길_2
18          경상북도_경산시_대학로_280
19     서울특별시_종로구_창경궁로_296-12
Name: 주소, dtype: object

# 데이터2 불러오기

In [26]:
df = pd.read_csv('./datasets/예제/University_text_before.csv', encoding='CP949')

In [27]:
df['주소']

0                      /!서울특별시 관악구 관악로 1
1                   대전광역시 유성구 대학로 291 ##
2                    서울특별시 종로구 성균관로 25-2
3                      서울특별시 서대문구 연세로 50
4            ## 울산광역시 울주군 언양읍 유니스트길 50 %
5                     경상북도 포항시 남구 청암로 77
6                      서울특별시 성북구 안암로 145
7                     서울특별시 동대문구 경희대로 26
8                    ^!서울특별시 광진구 능동로 209
9                     서울특별시 성동구 왕십리로 222
10                    광주광역시 북구 첨단과기로 123
11                  경기도 수원시 영통구 월드컵로 206
12        서울특별시 동작구 흑석로 84
13         __________서울특별시 서대문구 이화여대길 52
14                     서울특별시 광진구 능동로 120
15            대구광역시 북구 대학로 80
16                    울산광역시 남구 대학로 93___
17                 부산광역시 금정구 부산대학로63번길 2
18                      경상북도 경산시 대학로 280
19                 서울특별시 종로구 창경궁로 296-12
Name: 주소, dtype: object

# 주소의 선행 및 후행 문자 제거

In [28]:
df['주소'].str.strip(to_strip='_^!#? /%')

0            서울특별시 관악구 관악로 1
1          대전광역시 유성구 대학로 291
2        서울특별시 종로구 성균관로 25-2
3          서울특별시 서대문구 연세로 50
4     울산광역시 울주군 언양읍 유니스트길 50
5         경상북도 포항시 남구 청암로 77
6          서울특별시 성북구 안암로 145
7         서울특별시 동대문구 경희대로 26
8          서울특별시 광진구 능동로 209
9         서울특별시 성동구 왕십리로 222
10        광주광역시 북구 첨단과기로 123
11      경기도 수원시 영통구 월드컵로 206
12          서울특별시 동작구 흑석로 84
13       서울특별시 서대문구 이화여대길 52
14         서울특별시 광진구 능동로 120
15           대구광역시 북구 대학로 80
16           울산광역시 남구 대학로 93
17     부산광역시 금정구 부산대학로63번길 2
18          경상북도 경산시 대학로 280
19     서울특별시 종로구 창경궁로 296-12
Name: 주소, dtype: object